<!DOCTYPE html>
<!--Esta es mi primera pagina HTML-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Dos Chingones</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
         <section th:replace="~{menu/fragmentos :: tabsCategorias}"/>
         <section th:replace="~{menu/fragmentos :: listadoProductos}"/>
        
        
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>