<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Dos Chingones</title>
    </head>
    <body>
        <header>
            <section>
                <div class="p-3" style=" background-color: #ffac04"> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4 text-white">
                                <i class="fa-solid fa-pepper-hot">Dos Chingones</i><i class="fa-solid fa-pepper-hot"></i>
                                <h5 class="text-white text-lead mb-4">Since 1999 Costa Rica</h5>
                                <div class="d-flex flex-column">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-white text-lead mb-3">Ubicación</h5>
                                    <p class="text-white"><b>Dirección:</b> 200 norte del banco nacional,</p>
                                    <p class="text-white">C. 35, Provincia de Cartago, Cartago, 30701</p>
                                    
                            </div>
                            <div class="col-md-3 ml-auto">
                                <h5 class="text-white text-lead mb-4">Síguenos</h5>
                                <!---->
                                <a href="https://www.instagram.com/2chin_gones/?hl=es Dos Chingones" target="_blank" class="text-white mx-3"><i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="https://www.facebook.com/2chingones" target="_blank" class="text-white mx-3"><i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                </section>
            </div>
        </header> 
    </body>
</html>
