<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Dos Chingones</title>
    </head>
    <body>
        <header>
            <div class="card text-center bg-dark text-white text-center">
                <div class="card-header">
                    <h1> <i class="fa-solid fa-pepper-hot"> Dos Chingones</i><i class="fa-solid fa-pepper-hot"></i></h1>
                </div>

                <div class="p-5" style="background: rgb(0, 0, 0);"> 
                    <div class="container-fluid">
                        <div class="row"> flex
                            <div class="col-md-4">
                                <h5 class="text-success text-lead mb-4">Menú</h5>
                                <div class="d-flex flex-column">flex
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h5 class="text-success text-lead mb-4">Nosotros</h5> <p class="text-white text-justify font-weight-light"> 
                                    <p></p>
                                    
                            </div>
                            <div class="col-md-2 ml-auto">
                                <h5 class="text-success text-lead mb-4">Síguenos</h5>
                                <!---->
                                <a href="https://twitter.com/Dos PinosOficial" target="_blank" class="text-white mx-1"> <i class="fa fa-twitter-square fa-2x" aria-hidden="true"> 
                                    </i>
                                </a>
                                <a href="https://www.facebook.com/cdospinos/" target="_blank" class="text-white mx-1"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true">
                                      
                                    </i>
                                </a>
                                <!---->
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>



            <div class="card-footer text-body-secondary">
                Since 1999 Mexico/Costa Rica
            </div>
            </div>
        </header> 
    </body>
</html>
