<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Dos Chingones</title>
    </head>
    <body>
        <header>
            <div class="card text-center bg-dark text-white text-center">
                <div class="card-header">
                    <h1> <i class="fa-solid fa-pepper-hot"> Dos Chingones</i><i class="fa-solid fa-pepper-hot"></i></h1>
                </div>

             



            <div class="card-footer text-body-secondary">
                Since 1999 Mexico/Costa Rica
            </div>
            </div>
        </header> 
    </body>
</html>
